<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Articles & quizzes</h1>
    <mat-icon class="icon">text_snippet</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.theguardian.com/world/2023/feb/04/canadian-teenager-wins-48m-jackpot-first-lottery-ticket-juliette-lamour"
        class="link-in-text">Reported Speech</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.theguardian.com/careers/careers-blog/common-interview-questions-how-to-answer"
        class="link-in-text">Common job interview questions</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.theguardian.com/money/shortcuts/2023/mar/15/how-to-answer-five-worst-job-interview-questions"
        class="link-in-text">The worst job interview questions</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.theguardian.com/lifeandstyle/2023/apr/29/20-health-advice-myths-investigate"
        class="link-in-text">Health Myths and Wisdom</a>
    </div>
  </mat-card>

  <mat-card class="card-for-link">
    <div>
      <a href="https://ig.ft.com/climate-change-quiz/" class="link-in-text">Climate Change Quiz</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://booom.ai/" class="link-in-text">booom.ai</a>
    </div>
  </mat-card>
</div>
