:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.not-found-card {
  flex-grow: 1;
  max-width: 27rem;
  height: 85vh;
  text-align: center;
  box-shadow: none;
}

h1,
h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0;
}
