<div class="page-wrapper">
  <div class="header">
    <h1>Activities</h1>
    <mat-icon class="icon">play_circle</mat-icon>
  </div>

  <p>We're working on a variety of activities; they're going to be the backbone of eeieeioh. Each of them are designed
    for
    students
    to do different things with English. They each require a specific "setup" of how many learners should do them
    (learners
    on
    their own, in pairs, small groups or as a whole class), who has a phone with the prompts and how they are suppesed
    to use them, is
    there a need for a projector, etc. When
    opening an activity, click on
    the<mat-icon class="icon-inline">info_outline</mat-icon> icon for instructions.</p>

  <h2>Cards</h2>
  <p>The simplest activity of all: students press a button, get some prompt, then do something. As a teacher, I kind of
    enjoy not having to photocopy, cut or sort cards into a given number of pairs/groups before
    class any more. Ever.</p>

  <h2>Timed Cards</h2>
  <p>These are <b>Cards</b>, as seen above, but with a timer: teachers sometimes want to restrict or stretch the time
    they expect their students to work with each single card.</p>

  <h2>Expandables</h2>
  <p>Our expandables are not expendable as they are a tool for eliciting ideas. If done as a whole class with a
    projector
    in use, it gives the teacher control over the moment the hidden text is revealed. It might work with autonomous
    learners going over their lists on their phones as well. The activity was designed for error correction, as a
    prelude to <b>Duels</b>, which is a fast-paced game. We tend to use the two together.</p>

  <h2>Reword</h2>
  <p>Aiming at recycling and internalising chunks: fixed phrases, idioms, time expressions, dependent prepositions, etc.
    Players get 2 points for rephrasing a sentence on their own or 1 point for doing the same after getting a clue,
    which is a keyword from the target phrase.
  </p>

  <h2>Duels</h2>
  <p>Not unlike <b>Cards</b> but it has timers and counters for 2 players who take turns to quickly chose between a
    correct and an
    incorrect
    form of a word, a phrase or anything really. Designed for quick and somewhat personalized error correction. It works
    best when the same content is done on <b>Expandables</b> first.</p>

  <h2>Escape Room</h2>
  <p>Played individually, each student on their own phone – or in pairs, one phone per pair. This activity is about
    accuracy: players read short prompts and type their responses. They get an average of the time they've spent on each
    question. They are not allowed to move on to the text question until they get the present one correct.
    Ideal for spelling but works well with anything that requires short responses, e.g. dependent prepositions.</p>

  <h2>Context</h2>
  <p>This activity is quite like <b>Duels</b>, at least in terms of functionality. However, the idea here is that the
    prompts
    players are shown on each card will create their own (lexical, grammatical, functional, etc.) context as a group.
    Players are then asked to decide which one of the
    given options
    belongs to
    the perceived
    context. It's an efficient tool for recycling large lexical sets but it also works well as a framework for <a
      href="http://leoxicon.blogspot.com/2011/05/cycles-of-recycling_08.html">"collocation
      forks"</a> or any type of sorting game.</p>

  <h2>Ranking</h2>
  <p>A simple interface for what the name suggests: a ranking task where learners express opinions, negotiate and make
    decisions together. It works well as a <a
      href="https://www.teachingenglish.org.uk/article/pyramid-discussion">Pyramid Discussion</a> but it's also a common
    speaking
    task at language exams.
  </p>
</div>
