<mat-toolbar *ngIf="router.url === '/home'
  || router.url === '/contents'
  || router.url === '/about'
  || router.url === '/abbreviations'
  || router.url === '/teachers-guide'
  || router.url === '/activities'
  || router.url === '/changelog'
  || router.url === '/roadmap'
  || router.url === '/newsletter'
  || router.url === '/dictionaries'
  || router.url === '/corpora'
  || router.url === '/misc'
  || router.url === '/text'
  || router.url === '/video'
  ">
  <div class="branding">
    <a routerLink="/home"><img src="assets/logo.svg" alt="svg icon"></a><span>eeieeioh</span>
  </div>
  <span class="nav-links">
    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    <a class="nav-link" routerLink="/contents" routerLinkActive="active">Contents</a>
  </span>
</mat-toolbar>
