<footer>
  <lottie-player *ngIf="router.url === '/about' || router.url === '/contents'" class="whole-page-img"
    src="https://assets6.lottiefiles.com/packages/lf20_xspyd7jd.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <div class="columns-container">
    <div class="column-item">
      <h1>dictionaries</h1>
      <div>
        <a href="https://www.oxfordlearnersdictionaries.com/" class="twitter-anchor">OALD</a>
      </div>
      <div>
        <a href="https://www.ldoceonline.com/" class="twitter-anchor">Longman Dictionary</a>
      </div>
      <div>
        <a href="https://www.macmillandictionary.com/" class="twitter-anchor">Macmillan Dictionary</a>
      </div>
      <div>
        <a href="https://www.thesaurus.com/" class="twitter-anchor">Thesaurus.com</a>
      </div>
    </div>
    <div class="column-item">
      <h1>corpus</h1>
      <div>
        <a href="https://skell.sketchengine.eu/#home?lang=en" class="twitter-anchor">SkELL </a>
        <span> – Sketch Engine for language learning</span>
      </div>
      <div>
        <a href="https://netspeak.org/" class="twitter-anchor">Netspeak </a>
        <span> – One word leads to another</span>
      </div>
      <div>
        <a href="http://monco.frazeo.com/" class="twitter-anchor">Monco</a>
        <span> – Daily frequencies of content words</span>
      </div>
    </div>
    <div class="column-item">
      <div>
        <h1>eeieeioh</h1>
        <span>app development & content by </span>
        <a href="https://twitter.com/leventemo" class="twitter-anchor">@leventemo</a>
      </div>
      <div>
        <span>logo design by </span>
        <a href="https://www.cnegyzet.hu" class="twitter-anchor">József Balogh</a>
      </div>
      <!--       <div>
        <span>
          <span>new ideas, mistakes, problems: </span>
          <a routerLink="/contact">Contact us</a>
        </span>
      </div> -->
    </div>
    <div class="column-item">
      <div>
        <h1>&copy; {{currentDate | date: 'yyyy'}} eeieeioh</h1>
        <div class="branding">
          <a routerLink="/home">
            <img src="assets/logo.svg" alt="svg icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
