<footer>
  <lottie-player *ngIf="router.url === '/about' || router.url === '/contents'" class="lottie-flowers"
    src="/assets/img/flowers.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/activities'" class="lottie-stars" src="/assets/img/stars.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/changelog'" class="lottie-cat" src="/assets/img/cat.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/roadmap'" class="lottie-clouds" src="/assets/img/clouds.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/abbreviations'" class="lottie-cactus" src="/assets/img/cactus.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>

  <div class="columns-container">

    <div class="column-item">
      <h1>eeieeioh</h1>
      <div>
        <a routerLink="/about" class="footer-anchor">about</a>
      </div>
      <div>
        <a routerLink="/abbreviations" class="footer-anchor">abbreviations</a>
      </div>
      <div>
        <a routerLink="/activities" class="footer-anchor">teacher's guide</a>
      </div>
      <div>
        <a routerLink="/changelog" class="footer-anchor">changelog</a>
      </div>
      <div>
        <a routerLink="/roadmap" class="footer-anchor">roadmap</a>
      </div>
    </div>

    <div class="column-item">
      <h1>social</h1>
      <div>
        <a href="https://www.getrevue.co/profile/eeieeioh" class="footer-anchor">newsletter</a>
      </div>
      <div>
        <a href="https://twitter.com/leventemo" class="footer-anchor">app development & content</a>
      </div>
      <div>
        <a href="https://www.cnegyzet.hu" class="footer-anchor">logo design</a>
      </div>
    </div>

    <div class="column-item">
      <h1>links</h1>
      <div>
        <a href="https://www.oxfordlearnersdictionaries.com/" class="footer-anchor">OALD</a>
      </div>
      <div>
        <a href="https://www.ldoceonline.com/" class="footer-anchor">Longman Dictionary</a>
      </div>
      <div>
        <a href="https://www.macmillandictionary.com/" class="footer-anchor">Macmillan Dictionary</a>
      </div>
      <div>
        <a href="https://www.thesaurus.com/" class="footer-anchor">Thesaurus.com</a>
      </div>

      <div>
        <a href="https://skell.sketchengine.eu/#home?lang=en" class="footer-anchor">SkELL </a>
      </div>
      <div>
        <a href="https://netspeak.org/" class="footer-anchor">Netspeak </a>
      </div>
      <div>
        <a href="http://monco.frazeo.com/" class="footer-anchor">Monco</a>
      </div>
    </div>
    <div class="column-item">
      <div>
        <h1>&copy; {{currentDate | date: 'yyyy'}} eeieeioh</h1>
        <div class="branding">
          <a routerLink="/home">
            <img src="assets/logo.svg" alt="svg icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
