<footer>
  <lottie-player *ngIf="router.url === '/about' || router.url === '/contents'" class="lottie-flowers"
    src="/assets/img/flowers.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/activities'" class="lottie-stars" src="/assets/img/stars.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/changelog'" class="lottie-cat" src="/assets/img/cat.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <lottie-player *ngIf="router.url === '/roadmap'" class="lottie-clouds" src="/assets/img/clouds.json"
    background="transparent" speed="1" loop autoplay>
  </lottie-player>
  <div class="columns-container">

    <div class="column-item">
      <h1>eeieeioh</h1>
      <div>
        <a routerLink="/about" class="twitter-anchor">about</a>
      </div>
      <div>
        <a routerLink="/activities" class="twitter-anchor">activities</a>
      </div>
      <div>
        <a routerLink="/changelog" class="twitter-anchor">changelog</a>
      </div>
      <div>
        <a routerLink="/roadmap" class="twitter-anchor">roadmap</a>
      </div>
      <div>
        <a href="https://twitter.com/leventemo" class="twitter-anchor">app development & content</a>
      </div>
      <div>
        <a href="https://www.cnegyzet.hu" class="twitter-anchor">logo design</a>
      </div>
      <!--       <div>
            <span>
              <span>new ideas, mistakes, problems: </span>
              <a routerLink="/contact">Contact us</a>
            </span>
          </div> -->
    </div>

    <div class="column-item">
      <h1>dictionaries</h1>
      <div>
        <a href="https://www.oxfordlearnersdictionaries.com/" class="twitter-anchor">OALD</a>
      </div>
      <div>
        <a href="https://www.ldoceonline.com/" class="twitter-anchor">Longman Dictionary</a>
      </div>
      <div>
        <a href="https://www.macmillandictionary.com/" class="twitter-anchor">Macmillan Dictionary</a>
      </div>
      <div>
        <a href="https://www.thesaurus.com/" class="twitter-anchor">Thesaurus.com</a>
      </div>
    </div>
    <div class="column-item">
      <h1>corpus</h1>
      <div>
        <a href="https://skell.sketchengine.eu/#home?lang=en" class="twitter-anchor">SkELL </a>
        <span> – Sketch Engine for language learning</span>
      </div>
      <div>
        <a href="https://netspeak.org/" class="twitter-anchor">Netspeak </a>
        <span> – One word leads to another</span>
      </div>
      <div>
        <a href="http://monco.frazeo.com/" class="twitter-anchor">Monco</a>
        <span> – Daily frequencies of content words</span>
      </div>
    </div>
    <div class="column-item">
      <div>
        <h1>&copy; {{currentDate | date: 'yyyy'}} eeieeioh</h1>
        <div class="branding">
          <a routerLink="/home">
            <img src="assets/logo.svg" alt="svg icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
