<div class="page-wrapper">
  <div class="header">
    <h1>Dictionaries</h1>
    <mat-icon class="icon">library_books</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <a href="https://www.oxfordlearnersdictionaries.com/" class="footer-anchor">Oxford Learner's Dictionaries</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://www.ldoceonline.com/" class="footer-anchor">Longman Dictionary of Contemporary English</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://www.macmillandictionary.com/" class="footer-anchor">Macmillan Dictionary</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://www.thesaurus.com/" class="footer-anchor">Thesaurus.com</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://inspirassion.com/en/" class="footer-anchor">Inspirassion</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://www.urbandictionary.com/" class="footer-anchor">Urban Dictionary</a>
  </mat-card>
</div>
