.page-wrapper {
  min-width: 320px;
  max-width: 50%;
  min-height: 85vh;
  margin: auto;
  margin-top: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid #454746;
}

.icon {
  color: #7D1AD4;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
  position: relative;
  top: 5px;
  left: 5px;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0;
}

h2 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 1rem;
}

.card-for-link {
  margin-top: 2rem;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: none;
  border-radius: 0;
}

a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;

  color: #7D1AD4;
  font-weight: 400;

  background:
    linear-gradient(to right,
      rgba(232, 97, 195, 0.8),
      rgba(125, 26, 212, 1)),
    linear-gradient(to right,
      rgba(125, 26, 212, 1),
      rgba(232, 97, 195, 0.8));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}

a:active {
  text-decoration: none;
}
