h1,
h2,
h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0;
}

h2 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 1rem;
}

p,
dl,
ul,
li {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}

mat-table {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: none;
}

mat-header-cell {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: .9rem;
  color: #7D1AD4;
}

mat-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.date-published-cell {
  flex: 0 0 15%;
}

.title-cell {
  flex: 0 0 25%;
}

.language-cell {
  flex: 0 0 26%;
}

.level-cell {
  flex: 0 0 9%;
}

.mat-column-activity {
  flex: 0 0 25%;
}

.mat-cell,
.mat-header-cell {
  padding: 0 0 0 0;
}
