p,
dl,
ul,
li {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}

mat-cell.table-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  padding: 0 .5rem 0 0;
}

.date-published-cell {
  flex: 0 0 13%;
}

.title-cell {
  flex: 0 0 25%;
}

.language-cell {
  flex: 0 0 25%;
}

.level-cell {
  flex: 0 0 9%;
}

.activity-cell {
  flex: 0 0 28%;
}
