<div class="page-wrapper">
  <div class="header">
    <h1>Changelog</h1>
    <mat-icon class="icon">playlist_add_check</mat-icon>
  </div>
  <h2>What is this?</h2>
  <p>It's a non-technical log of additions. Sorting is done on the "Date" column but you can click on the
    other headers to change that. If you need a searchable
    table, use the <a [routerLink]="'/contents'">Contents page.</a></p>

  <mat-table matSort matSortDisableClear matSortActive="datePublished" matSortDirection="desc"
    [dataSource]=" dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="datePublished">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="date-published-cell">Date</mat-header-cell>
      <mat-cell *matCellDef="let item" class="date-published-cell">
        {{item.datePublished | date: 'yy/M/d'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="title-cell">Title</mat-header-cell>
      <mat-cell *matCellDef="let item" class="title-cell">
        {{item.title}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="language-cell">Language</mat-header-cell>
      <mat-cell *matCellDef="let item" class="language-cell">{{item.language}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="level">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="level-cell">Level</mat-header-cell>
      <mat-cell *matCellDef="let item" class="level-cell">{{item.level}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="activity-cell">Activity</mat-header-cell>
      <mat-cell *matCellDef="let item" class="activity-cell">
        <a [routerLink]="[item.slug, item.id]">{{item.activity}}</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
