mat-card {
  min-width: 350px;
  max-width: 33%;
  height: 80vh;
  margin: auto;
}

mat-card-title,
span,
button {
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 1.5;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 3rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  color: #7D1AD4;
}
