<mat-card>
  <mat-card-title>
    {{ data.title }}
    <mat-icon class="icon-inline" (click)="openDialog()">info_outline</mat-icon>
  </mat-card-title>
  <!--   <mat-icon class="icon-inline">info_outline</mat-icon> -->
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div *ngIf="isItAllDone">
      <lottie-player class="whole-page-img" src="/assets/img/candies.json" background="transparent" speed="1" loop
        autoplay>
      </lottie-player>
    </div>
    <div *ngIf="!isItAllDone">{{ currentCard }}</div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <span>{{ currentCardCounter }}/{{ cardsTotal() }}</span>
    <button *ngIf="!isItAllDone" color="primary" mat-button (click)="next()">{{ btnValue
      }}</button>
    <button color="primary" mat-button (click)="redirect()">Contents</button>
  </mat-card-actions>
</mat-card>
