<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <!--   <mat-icon class="icon-inline">info_outline</mat-icon> -->
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div>{{ currentCard }}</div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <span>{{ currentCardNumber }}/{{ cardsTotal }}</span>
    <button *ngIf="currentCardNumber - 1 !== cardsTotal" color="primary" mat-button (click)="next()">{{ btnValue
      }}</button>
    <button *ngIf="currentCardNumber - 1 === cardsTotal" color="primary" mat-button (click)="redirect()">{{
      btnValue }}</button>
  </mat-card-actions>
</mat-card>
