<mat-card>
  <mat-card-title>{{ data.title }}</mat-card-title>
  <!--   <mat-icon class="icon-inline">info_outline</mat-icon> -->
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div>{{ currentCard }}</div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <span>{{ currentCardCounter }}/{{ cardsTotal() }}</span>
    <button *ngIf="!isGameOver()" color="primary" mat-button (click)="next()">{{ btnValue
      }}</button>
    <button *ngIf="isGameOver()" color="primary" mat-button (click)="redirect()">Contents</button>
  </mat-card-actions>
</mat-card>
