<mat-card>
  <mat-card-title>
    <span class="activity-type">Reword</span><span class="title">{{ data.title }}</span>
    <mat-icon class="icon-inline" (click)="openDialog()">info_outline</mat-icon>
  </mat-card-title>

  <mat-divider inset></mat-divider>

  <mat-card-content>
    <div class="card-content-big">
      <div class="text">{{ currentCard.sentence }}</div>
      <div class="text">{{ currentCard.keyword }}</div>
    </div>
    <mat-divider inset></mat-divider>
    <div class="card-content-big">
      <div class="clue" *ngIf="isClueDisplayed">{{ currentCard.targetLanguage }}</div>
      <div *ngIf="isAnswerDisplayed">{{ currentCard.answer }}</div>
    </div>

    <div class="card-content-small">
      <button class="counter" [value]="0" (click)="increment($event)" [disabled]="!isAnswerDisplayed">0</button>
      <button class="counter" [value]="0" (click)="increment($event)" [disabled]="!isAnswerDisplayed">0</button>
    </div>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions align="end">
    <span class="card-counter">{{ currentCardCounter }}/{{ cardsTotal() }}</span>
    <button *ngIf="showStartBtn" color="primary" mat-button (click)="displayNextCard()">Start</button>
    <button *ngIf="!isClueDisplayed && hasGameStarted() && !isAnswerDisplayed" color="primary" mat-button
      (click)="isClueDisplayed = true">Clue</button>
    <button *ngIf="hasGameStarted() && !isAnswerDisplayed" color="primary" mat-button
      (click)="isAnswerDisplayed = true">Answer</button>
    <button color="primary" mat-button (click)="redirect()">Contents</button>
  </mat-card-actions>
</mat-card>
