:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  max-width: 27rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

mat-card {
  height: 85vh;
  width: 100%;
  /*   flex-grow: 1;
  max-width: 27rem;
  height: 85vh;
  margin-top: 2vh;
  margin-bottom: 2vh; */
}

.activity-type,
.card-counter,
button {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.title {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-weight: 300;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.text,
.clue {
  margin-bottom: .8rem;
}

.card-content-big {
  height: 39%;
}

.card-content-small {
  display: flex;
  justify-content: space-between;
}

/* counter classes */
.counter {
  color: #808080;
  width: 3rem;
  margin: auto;
  font-size: 2rem;
  background-color: #FFFFFF;
  border: none;
}

.countercurrentplayer {
  color: #7D1AD4;
  background-color: #F5F5F5;
  border: 2px solid #7D1AD4;
}

.countercurrentplayeractive {
  border: 2px solid #CE0095;
  color: #CE0095;
  animation: blinker 1.3s ease-in-out infinite alternate;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.clue {
  font-style: italic;
}

mat-card-actions {
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: space-around;
  color: #7D1AD4;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
}

/* final scores */
.the-winner-is {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   height: 92%;
 */
  padding-bottom: 5rem;
}

.scores-card {
  height: 85vh;
  margin: 3rem 0 2rem 0;
}

.winner-text {
  margin-bottom: 1rem;
  animation: grow-and-shrink 4000ms ease-in-out infinite alternate;
}

.lottie-div {
  height: 20rem;
  width: 20rem;
}

.divider {
  width: 100%;
}

.closing-dash {
  justify-content: end;
}
