<div class="page-wrapper">
  <div class="header">
    <h1>About us</h1>
    <mat-icon class="icon">import_contacts</mat-icon>
  </div>
  <h2>eeieeioh</h2>
  <p>This site is meant to help student and teacher do their own thing with English.
  <p>Organizational, national, international, continental, global – and probably universal – shortage of paper,
    combined
    with an abundance of mobile phones in our hands is nudging us to put it all online. On top of that, it's 2022.</p>

  <h2>inspiration</h2>
  <p>The word inspiration has very nice connotations but the idea here is very simple and practical: whenever
    there is a need
    for student or
    teacher to have quick and easy access to any type of prompt in class or at home, we try to make it available
    online.
    The
    truth is, we have much more ideas than we can cope with in terms of development and content writing but we like it
    this way. Better
    to have ideas you can't make happen just now than the other way round.</p>

  <h2>plans</h2>
  <p>Lots of. We hope to see the site grow and become a full-blown learning platform one day. We
    are working on our own digital
    versions
    of popular, well-tried activities and games and we're also experimenting with new ideas.</p>

  <h2>target audience</h2>
  <p>Although in order to achieve successful learning, teachers need students, students don't always need teachers.
    We're trying to make the life of both groups easier and that means the tools and content you find here should be
    designed to be used in and/or outside of the classroom.</p>

  <h2>resources</h2>
  <p>We try to keep our content informed and structured by the strandards of the trade. Our regularly used resources
    include:</p>

  <p><a href="https://www.englishprofile.org/">English Profile</a></p>
  <p><a href="https://www.cambridgeenglish.org/">Cambridge English Language Assessment</a></p>
  <p><a href="https://skell.sketchengine.eu/#home?lang=en">SKELL</a></p>

  <h2>abbreviations</h2>
  <p>Narrow screens are calling for these, there's no way out. Most of the examples you find throughout the website
    are
    "home-grown" but fairly self-explanatory. Here is a list nonetheless:</p>
  <dl>
    <div class="description-list-item-wrapper">
      <dt>RD:</dt>
      <dd>reading</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>LS:</dt>
      <dd>listening</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>WR:</dt>
      <dd>writing</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>SP:</dt>
      <dd>speaking</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>GR:</dt>
      <dd>grammar</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>VOC:</dt>
      <dd>vocabulary</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>UE:</dt>
      <dd>use of English</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>WD Form:</dt>
      <dd>word formation</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>ES:</dt>
      <dd>exam skills</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>PIO:</dt>
      <dd>Pioneer</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>EF3:</dt>
      <dd>English File 3rd edition</dd>
    </div>
  </dl>
  <h2>activities</h2>
  <p>We're working on a variety of activities; they're going to be the backbone of eeieeioh. Each of them are designed
    for
    students
    to do different things with English. They each require a specific "setup" of how many learners do them (learners
    on
    their own, in pairs, small groups or as a whole class), who has a phone with the prompts and how they use them, is
    there a need for a projector, etc. When
    opening an activity, click on
    the<mat-icon class="icon-inline">info_outline</mat-icon> icon for instructions.</p>

  <h3>Cards</h3>
  <p>The simplest activity of all: students press a button, get some prompt, then do something.</p>
  <h3>Duel</h3>
  <p>Not unlike Cards but it has timers and counters for 2 players who rush to chose between a correct and an incorrect
    form of a word, a phrase or anything really. Designed for quick and somewhat personalized error correction. Coming
    soon.</p>

  <h2>tools</h2>
  <h3>Marksheets</h3>
  <p>A tool for mock exams that enables teachers to record results and get insights into how individual students and
    groups are making progress and what needs to be worked on. Coming soon.</p>
</div>
