<mat-card class="third-width-card">
  <mat-card-title class="third-width-card-title">
    <span class="activity-type">Story Puzzle</span><span class="title">{{ data.title }}</span>
    <mat-icon class="icon" (click)="openDialog()">info_outline</mat-icon>
  </mat-card-title>

  <hr class="divider">

  <app-sentence-view *ngIf="stepper < 2" [stepper]="stepper" [data]="data"
    class="third-width-card-content"></app-sentence-view>

  <mat-card-content *ngIf="stepper === 2" class="third-width-card-content drag-drop-list" cdkDropList
    (cdkDropListDropped)="drop($event)">
    <h1 class="header-h1">{{ data.tasks[stepper] }}</h1>

    <div class="list-item" *ngFor="let item of chunkArray" cdkDrag>
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
      {{ item }}
    </div>

  </mat-card-content>

  <mat-card-content *ngIf="stepper === 3" class="third-width-card-content">

    <div *ngIf="!accepted" class="passcode-form-wrapper">

      <mat-form-field appearance="outline" class="form-field" [formGroup]="passcodeForm">
        <mat-label for="passcode">passcode from teacher</mat-label>
        <input type="text" name="passcode" formControlName="response" matInput>
      </mat-form-field>

    </div>

    <div *ngIf="accepted">
      <h1 class="header-h1">{{ data.tasks[3] }}</h1>
      <a *ngIf="stepper === 3" [href]="data.url" class="link-in-text">Read the story</a>
    </div>

  </mat-card-content>

  <hr class="divider">

  <mat-card-actions align="end" class="third-width-card-actions">
    <span class="card-counter">{{ stepper + 1 }}/4</span>
    <button *ngIf="stepper !== 3" color="primary" mat-button (click)="next()" class="card-action-btn">Next</button>
    <button *ngIf="stepper === 3" color="primary" mat-button (click)="previous()">Back</button>
    <button color="primary" mat-button (click)="redirect()" class="card-action-btn">Contents</button>
  </mat-card-actions>
</mat-card>
