:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.third-width-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.3rem;
}


h1.header-h1 {
  font-size: 2.1rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.drag-drop-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  height: 8%;
  margin-bottom: 15px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-radius: 4px;
  padding: .6rem 1rem .6rem 1rem;
  background: #F5F5F5;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.2rem;
  border-radius: 4px;
  padding: .6rem 1rem .6rem 1rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.lesson:last-child {
  border: none;
}

.drag-drop-list.cdk-drop-list-dragging .drag-drop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-placeholder {
  background: #DCC9FF;
  min-height: 8%;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  margin-bottom: 15px;
}

.flexy-start {
  justify-content: flex-start;
}

.highlight {
  font-weight: 400;
}

h1.header-h1 {
  font-size: 1.1rem;
}

ul {
  font-size: 1.2rem;
}

mat-card-content.third-width-card-content {
  padding-top: 0;
}

.flexy-start {
  justify-content: flex-start;
}

.passcode-form-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.form-field {
  height: 4.2rem;
  font-size: 1.2rem;
  font-family: 'Barlow Condensed', sans-serif;
}
