:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  max-width: 27rem;
}

.counters-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.options-wrapper {
  display: flex;
  justify-content: space-around;
}

.counters-wrapper {
  height: 28%;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 3px;
  opacity: .5;
}

.timer,
.score {
  font-family: 'Inconsolata', monospace;
  width: 8.5rem;
}

.prompts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  height: 44%;
}

.prompt {
  font-size: 1.3rem;
  margin: 3px;
  line-height: 2rem;
}

.options-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 28%;
}

.option {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  /*   min-width: 33%; */
  /* make btn invisible*/
  background: #F5F5F5;
  border: 2px solid #F5F5F5;
  margin: 3px;
}

.activecounter {
  color: #7D1AD4;
  border: 2px solid #7D1AD4;
  background-color: #F5F5F5;
  opacity: 1;
}

#btn-A {
  animation: shakeA 3s cubic-bezier(.36, .07, .19, .97) both infinite;
}

#btn-B {
  animation: shakeB 3s cubic-bezier(.36, .07, .19, .97) both infinite;
}

@keyframes shakeA {

  91%,
  95% {
    transform: translate3d(-1px, 0, 0);
  }

  92%,
  98% {
    transform: translate3d(1px, 0, 0);
  }

  93%,
  99%,
  97% {
    transform: translate3d(-2px, 0, 0);
  }

  94%,
  96% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shakeB {

  41%,
  45% {
    transform: translate3d(-1px, 0, 0);
  }

  42%,
  48% {
    transform: translate3d(1px, 0, 0);
  }

  43%,
  49%,
  47% {
    transform: translate3d(-2px, 0, 0);
  }

  44%,
  46% {
    transform: translate3d(2px, 0, 0);
  }
}

/* feedback table */
.feedback {
  box-shadow: none;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.mat-column-prompts {
  flex: 0 0 34%;
}

.mat-column-correct {
  flex: 0 0 19%;
}

.mat-column-incorrect {
  flex: 0 0 19%;
}

.mat-column-playerA {
  flex: 0 0 14%;
}

.mat-column-playerB {
  flex: 0 0 14%;
}

.mat-cell,
.mat-header-cell {
  padding: 0 .5rem 0 .5rem;
}

.prompt-list {
  /* list-style-type: none; */
  margin: 0;
  padding: .2rem 0 .2rem .5rem;
}

.incorrect-list {
  list-style-type: none;
  margin: 0;
  padding: .2rem 0 .2rem 0;
}

.mat-column-playerA,
.mat-column-playerB {
  display: flex;
  justify-content: flex-start;
}

.feedback-points {
  font-family: 'Inconsolata', monospace;
}

.highlight {
  color: #CE0095;
  font-weight: bold;
}

.totalScore {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #7D1AD4;
  font-size: .9rem;
}

/* final scores */
.the-winner-is {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   height: 92%;
 */
  padding-bottom: 5rem;
}

.scores-card {
  height: 60%;
  box-shadow: none;
  margin: 3rem 0 2rem 0;
}

.winner-text {
  margin-bottom: 6rem;
  animation: grow-and-shrink 4000ms ease-in-out infinite alternate;
}

.lottie-div {
  height: 10rem;
  width: 10rem;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
