<div class="page-wrapper">
  <div class="header">
    <h1>Corpora & friends</h1>
    <mat-icon class="icon">video_stable</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <a href="https://www.english-corpora.org//">English-Corpora.org</a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://skell.sketchengine.eu/#home?lang=en" class="footer-anchor">SkELL </a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="https://netspeak.org/" class="footer-anchor">Netspeak </a>
  </mat-card>
  <mat-card class="card-for-link">
    <a href="http://monco.frazeo.com/" class="footer-anchor">Monco</a>
  </mat-card>
</div>
