<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Podcasts</h1>
    <mat-icon class="icon">headphones</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.bbc.co.uk/programmes/p02nrvdq/episodes/downloads" class="link-in-text">Confessions</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.nosuchthingasafish.com/" class="link-in-text">No Such Thing As A
        Fish</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.npr.org/podcasts/510325/the-indicator-from-planet-money?t=1611556546069"
        class="link-in-text">The Indicator</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://syntax.fm/" class="link-in-text">Syntax.fm</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.bbc.co.uk/programmes/p01dh5yg/episodes/downloads" class="link-in-text">In Our Time:
        History</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.bbc.co.uk/programmes/p01gyd7j" class="link-in-text">In Our Time: Science</a>
    </div>
  </mat-card>
</div>
