<div class="container">
  <mat-card *ngIf="!areQnestionsDone" class="third-width-card">
    <mat-card-title class="third-width-card-title">
      <span class="activity-type">Reword</span><span class="title">{{ activityData.title }}</span>
      <mat-icon class="icon" (click)="openDialog()">info_outline</mat-icon>
    </mat-card-title>

    <hr class="divider">

    <mat-card-content class="third-width-card-content">
      <div class="card-content-big">
        <div class="text">{{ currentCard.sentence }}</div>
        <div class="text">{{ currentCard.keyword }}</div>
      </div>
      <hr class="divider">
      <div class="card-content-big">
        <div class="clue" *ngIf="isClueDisplayed">{{ currentCard.targetLanguage }}</div>
        <div *ngIf="isAnswerDisplayed">{{ currentCard.answer }}</div>
      </div>

      <div class="card-content-small">
        <button class="counter" [ngClass]="getCounterClassPlayerA()" [value]="0" (click)="onCounterClick($event)"
          [disabled]="!isAnswerDisplayed || currentPlayer !== playerA">{{playerA.score}}</button>
        <button class="counter" [ngClass]="getCounterClassPlayerB()" [value]="0" (click)="onCounterClick($event)"
          [disabled]="!isAnswerDisplayed || currentPlayer !== playerB">{{playerB.score}}</button>
      </div>
    </mat-card-content>

    <hr class="divider">

    <mat-card-actions align="end" class="third-width-card-actions">
      <span class="card-counter">{{ currentCardCounter }}/{{ cardsTotal() }}</span>
      <button *ngIf="currentCardCounter === 0" color="primary" mat-button (click)="displayNextCard()"
        class="card-action-btn">Start</button>
      <button *ngIf="!isClueDisplayed && currentCardCounter !== 0 && !isAnswerDisplayed" color="primary" mat-button
        (click)="isClueDisplayed = true" class="card-action-btn">Clue</button>
      <button *ngIf="currentCardCounter !== 0 && !isAnswerDisplayed" color="primary" mat-button
        (click)="isAnswerDisplayed = true" class="card-action-btn">Answer</button>
      <button class="countercurrentplayeractive" *ngIf="isAnswerDisplayed" color="primary" mat-button
        (click)="displayNextCard()">Next</button>
      <button color="primary" mat-button (click)="redirect()" class="card-action-btn">Contents</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="areQnestionsDone" class="third-width-card">
    <mat-card-title class="third-width-card-title">
      <span class="activity-type">Reword</span><span class="title">{{ activityData.title }}</span>
      <mat-icon class="icon" (click)="openDialog()">info_outline</mat-icon>
    </mat-card-title>

    <hr class="divider">

    <mat-card-content class="third-width-card-content the-winner-is">
      <div class="winner-text">
        <h1 class="header-h1">{{gameResults}}</h1>
      </div>
      <div class="lottie-div-fireworks1">
        <lottie-player src="/assets/img/fireworks1.json" background="transparent" speed="1" loop autoplay>
        </lottie-player>
      </div>
    </mat-card-content>

    <hr class="divider">

    <mat-card-actions align="end" class="third-width-card-actions closing-dash">
      <button color="primary" mat-button (click)="redirect()" class="card-action-btn">Contents</button>
    </mat-card-actions>
  </mat-card>
</div>
