mat-card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 3rem auto 0 auto;
  min-width: 320px;
  max-width: 33%;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid #454746;
  height: 2rem;
  margin-bottom: 2rem;
}

.icon {
  color: #7D1AD4;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Ubuntu Condensed', sans-serif;
}

h1,
h2,
mat-form-field {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0.5rem;
}

mat-error {
  font-size: .8rem;
  color: #CE0095;
}
