:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 80%;
}

h1,
h2,
mat-form-field {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0.5rem;
}

mat-error {
  font-size: .8rem;
  color: #CE0095;
}
