:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

mat-card.third-width-card {
  padding: 1rem;
}

mat-card-title.third-width-card-title {
  padding: 1rem 0 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 80%;
}

h1,
h2,
mat-form-field {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0.5rem;
}

mat-error {
  font-size: .8rem;
  color: #CE0095;
}
