:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Escape Room */

.escape-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
}

.question {
  font-size: 1.8rem;
}

input {
  font-size: 2.2rem;
}

input {
  width: 80%;
  border: none;
  border-bottom: 2px solid #7D1AD4;
  text-align: center;
  background-color: rgba(245, 245, 245, 1);
}

input:focus {
  outline: none;
  background-color: rgba(220, 201, 255, .2);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 3rem;
  color: #8F8F8F;
}

.activestats {
  color: #7D1AD4;
}

.correct {
  color: rgba(125, 26, 212, 1);
}

.gameover-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

lottie-player {
  width: 50%;
}
