<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">About us</h1>
    <mat-icon class="icon">import_contacts</mat-icon>
  </div>
  <h2 class="header-h2">eeieeioh</h2>
  <p>This site is meant to help student and teacher do their own thing with English.
  <p>Organizational, national, international, continental, global – and probably universal – shortage of paper,
    combined
    with an abundance of mobile phones in our hands is nudging us to put it all online. On top of that, it's {{today |
    date: 'YYYY' }}. And it's {{today |
    date: 'EEEE' }}. <span class="icon">&#9786;</span>
  </p>

  <h2 class="header-h2">inspiration</h2>
  <p>When designing new activity types, we always focus on exploring what interactivity can bring to the table. Think
    about
    them as a collection of your favourite worksheets – but not on paper. That means they can be more dynamic, visually
    and
    in terms of content, they can give students immediate feedback, they might resemble online games and they can
    offer direct links to videos, spoken and written text or anything really on the Internet. Here is a <a
      routerLink="/teachers-guide" class="link-in-text">guide</a> to our activities, intended mainly for teachers.</p>
  <p>The idea here is very simple and practical: whenever there is a need
    for student or
    teacher to have quick and easy access to any type of prompt in class or at home, we try to make it available
    online.
    The
    truth is, we have much more ideas than we can cope with in terms of development and content writing but we like it
    this way. Better
    to have ideas you can't make happen just yet than the other way round.</p>

  <h2 class="header-h2">target audience</h2>
  <p>Although in order to achieve successful learning, teachers need students, students don't always need teachers.
    We're trying to make the life of both groups easier and that means the tools and content you find here should be
    designed to be used in and/or outside of the classroom.</p>

  <h2 class="header-h2">plans</h2>
  <p>Lots of. We hope to see the site grow and become a full-blown learning platform one day. We
    are working on our own digital
    versions
    of well tried clasroom activities and games and experimenting with new ideas. Go to our <a routerLink="/roadmap"
      class="link-in-text">roadmap</a> for more
    detail.</p>

  <h2 class="header-h2">resources</h2>
  <p>We try to keep our content informed and structured by the strandards of the trade. The resources we use include:
  </p>

  <p><a href="https://www.englishprofile.org/" class="link-in-text">English Profile</a></p>
  <p><a href="https://www.cambridgeenglish.org/" class="link-in-text">Cambridge English Language Assessment</a></p>
  <p><a href="https://skell.sketchengine.eu/#home?lang=en" class="link-in-text">SKELL</a></p>
  <p><a href="https://www.english-corpora.org//" class="link-in-text">English-Corpora.org</a></p>
</div>
