:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  max-width: 27rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

mat-card,
table {
  width: 100%;
}

.activity-type,
button {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.title {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-weight: 300;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
}

.mat-table {
  box-shadow: none;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.mat-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 1rem;
}

.element-description-attribution {
  opacity: 0.5;
}
