<div class="dialog-wrapper">
  <div class="dialog-info-title-wrapper">
    <h1 class="title">{{ data.title }}</h1>
  </div>
  <hr class="divider">
  <mat-dialog-content class="dialog-content">
    {{ data.instr }}
    <div *ngIf="data.preview" class="questions-list"><b>Preview:</b>
      <ul>
        <li *ngFor="let item of data.preview">{{ item }}</li>
      </ul>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
