<mat-card *ngIf="!isItAllDone">
	<mat-card-title>
		<span class="activity-type">Board Game</span><span class="title">{{ data.title }}</span>
		<mat-icon class="icon-inline" (click)="openDialogInfo()">info_outline</mat-icon>
	</mat-card-title>

	<mat-divider inset></mat-divider>

	<mat-card-content>

		<div class="boardgame-grid">

			<button class="square square-start-and-finish">
				<div class="square-number spaced-out">START</div>
				<div class="markers-wrapper">
					<div *ngIf="playerA.position === 0" class="marker markerA">A</div>
					<div *ngIf="playerB.position === 0" class="marker markerB">B</div>
				</div>
			</button>

			<ng-container *ngFor="let card of currentPack; let i = index">
				<button class="square" [ngClass]="{ 'square-active': this.activePlayer.takingOn === (i + 1) }"
					[disabled]="activePlayer.takingOn !== i + 1" (click)="openDialogBoardGame(i)">
					<div class="square-number">{{i + 1}}</div>
					<div class="markers-wrapper">
						<div *ngIf="playerA.position === i + 1" class="marker markerA">A</div>
						<div *ngIf="playerA.takingOn === i + 1" class="marker markerA marker-active">A
						</div>

						<div *ngIf="playerB.position === i + 1" class="marker markerB">B</div>
						<div *ngIf="playerB.takingOn === i + 1" class="marker markerB marker-active">B
						</div>

						<!-- <div *ngIf="playerA.position === i + 1 || playerA.takingOn === i + 1" class="marker markerA"
							[ngClass]="{ 'marker-active': this.playerA.takingOn !== 0 }">A</div>
						<div *ngIf="playerB.position === i + 1 || playerB.takingOn === i + 1" class="marker markerB"
							[ngClass]="{ 'marker-active': this.playerB.takingOn !== 0 }">B</div> -->
					</div>
				</button>
			</ng-container>

			<button class="square square-start-and-finish">
				<div class="square-number spaced-out">FINISH</div>
				<div class="markers-wrapper">
					<div *ngIf="playerA.position === 19" class="marker markerA">A</div>
					<div *ngIf="playerB.position === 19" class="marker markerB">B</div>
				</div>
			</button>

		</div>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions align="end">
		<button *ngIf="!hasGameStarted" color="primary" mat-button (click)="start()">Start</button>
		<button *ngIf="hasGameStarted" [disabled]="isNextBtnDisabled" color="primary" mat-button (click)="rollDice()">Roll
			Dice</button>
		<button color="primary" mat-button (click)="redirect()">Contents</button>
	</mat-card-actions>
</mat-card>

<mat-card *ngIf="isItAllDone" class="scores-card">
	<mat-card-title>
		<span class="activity-type">Board Game</span><span class="title">{{ data.title }}</span>
		<mat-icon class="icon-inline" (click)="openDialogInfo()">info_outline</mat-icon>
	</mat-card-title>

	<mat-divider inset></mat-divider>
	<mat-card-content class="the-winner-is">
		<div class="winner-text">
			<h1>{{winner}}</h1>
		</div>
		<div class="lottie-div">
			<lottie-player src="/assets/img/threestars.json" background="transparent" speed="1" loop autoplay>
			</lottie-player>
		</div>
	</mat-card-content>
	<mat-divider class="divider" inset></mat-divider>
	<mat-card-actions class="closing-dash">
		<button color="primary" mat-button (click)="redirect()">Contents</button>
	</mat-card-actions>
</mat-card>
