:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

mat-card {
  flex-grow: 1;
  max-width: 27rem;
  height: 85vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.activity-type,
.card-counter,
button {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.title {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-weight: 300;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 3rem;
}

mat-card-actions {
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: space-around;
  color: #7D1AD4;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
}

.boardgame-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
  width: 100%;
  height: 100%;
  padding: .5rem 0 .5rem 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.square-btn {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 0;
  border: 2px solid var(--greyBackground);
  font-size: .8rem;
  color: var(--greyBackground);
  /* text-align: center; */
}

.square-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 150ms;
}

.square-number {
  align-self: start;
  text-align: left;
  padding: 3px;
}

.markers-wrapper {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
}

.marker {
  display: flex;
  width: 50%;
  justify-content: center;
}

.marker-svg {
  width: 25px;
}

.marker-lottie {
  width: 40px;
}
