<div class="page-wrapper">
  <div class="header">
    <h1>Abbreviations</h1>
    <mat-icon class="icon">quiz</mat-icon>
  </div>

  <p>Narrow screens are calling for these, there's no way out. Most of the examples you find throughout the website
    are
    "home-grown" but fairly self-explanatory. Here is a list nonetheless:</p>
  <dl>
    <div class="description-list-item-wrapper">
      <dt>EC:</dt>
      <dd>error correction</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>ES:</dt>
      <dd>exam skills</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>GR:</dt>
      <dd>grammar</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>LS:</dt>
      <dd>listening</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>PRO:</dt>
      <dd>pronunciation</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>PV:</dt>
      <dd>phrasal verbs</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>RD:</dt>
      <dd>reading</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>SP:</dt>
      <dd>speaking</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>SPE:</dt>
      <dd>spelling</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>UE:</dt>
      <dd>use of English</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>VOC:</dt>
      <dd>vocabulary</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>WD Form:</dt>
      <dd>word formation</dd>
    </div>
    <div class="description-list-item-wrapper">
      <dt>WR:</dt>
      <dd>writing</dd>
    </div>
  </dl>
</div>
