<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Video</h1>
    <mat-icon class="icon">camera</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=xd63g3d8qOs" class="link-in-text">Ormie</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=tRrK9L8ed9g" class="link-in-text">Things You'd Better Not Mix Up</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=JMJXvsCLu6s" class="link-in-text">Wildebeest</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=iTWuZav-elY" class="link-in-text">Carpark</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=LqktZhj7EFk" class="link-in-text">Sketchy Guard</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=QpkjGqYJxos" class="link-in-text">We've All Been There</a>
    </div>
  </mat-card>
</div>
