<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Video</h1>
    <mat-icon class="icon">camera</mat-icon>
  </div>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=xd63g3d8qOs" class="link-in-text">Ormie</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=tRrK9L8ed9g" class="link-in-text">Things You'd Better Not Mix Up</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=JMJXvsCLu6s" class="link-in-text">Wildebeest</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=iTWuZav-elY" class="link-in-text">Carpark</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=LqktZhj7EFk" class="link-in-text">Sketchy Guard</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=QpkjGqYJxos" class="link-in-text">We've All Been There</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.linkedin.com/feed/update/urn:li:activity:7021489868690059266" class="link-in-text">Film
        Crew</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=ubNF9QNEQLA" class="link-in-text">Test Your Awareness: Whodunnit?</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=Ahg6qcgoay4" class="link-in-text">Test Your Awareness: Do The Test</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://vimeo.com/24051768" class="link-in-text">Luminaris</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://vimeo.com/80883637" class="link-in-text">Wind</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.youtube.com/watch?v=L1bbN08o6Y4" class="link-in-text">Dji. Death Fails</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://vimeo.com/116746233" class="link-in-text">Dji. Death Sails</a>
    </div>
  </mat-card>
  <mat-card class="card-for-link">
    <div>
      <a href="https://www.theguardian.com/technology/video/2019/aug/31/birds-eye-a-portrait-of-aerial-photographer-petra-leary"
        class="link-in-text">Birds Eye!</a>
    </div>
  </mat-card>
</div>
