:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  max-width: 27rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

mat-table {
  box-shadow: none;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0 .5rem 0 0;
}

.mat-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 1rem;
}

.element-description-attribution {
  opacity: 0.5;
}

.red {
  color: #CE0095;
}

.green {
  color: #34C000;
}
