:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

mat-card {
  flex-grow: 1;
  max-width: 27rem;
  height: 85vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid #454746;
  height: 2rem;
  margin-bottom: 2rem;
}

.icon {
  color: #7D1AD4;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  font-size: 1.2rem;
  /*   display: grid;
  grid-template-columns: 1fr;
  font-family: 'Ubuntu Condensed', sans-serif; */
}

h1,
h2,
.form-field {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0.5rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 15%;
  font-family: 'Ubuntu Condensed', sans-serif;
  /*   border: 2px solid blueviolet; */
}

label {
  margin-bottom: .5rem;
}

input {
  height: 2.5rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1rem;
}

.revue-form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  /*   border: 2px solid blueviolet */
  ;
}

.revue-form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  font-size: .9rem;
  /*   border: 2px solid blueviolet; */
}
