.form-field-wrapper {
  display: grid;
}

mat-form-field {
  min-width: 410px;
  max-width: 50%;
  color: #7D1AD4;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.1rem;
  margin: auto;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
  position: relative;
  top: 5px;
  left: 5px;
}

mat-table {
  box-shadow: none;
  min-width: 385px;
  max-width: 70%;
  height: 80vh;
  margin: auto;
}

mat-header-cell {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: .9rem;
  color: #7D1AD4;
}

mat-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.mat-column-title {
  flex: 0 0 30%;
}

.mat-column-language {
  flex: 0 0 30%;
}

.mat-column-skill {
  flex: 0 0 10%;
}

.mat-column-level {
  flex: 0 0 10%;
}

.mat-column-activity {
  flex: 0 0 20%;
}

.mat-cell,
.mat-header-cell {
  padding: 0 0 0 0;
}
