.lottie-moth {
  position: absolute;
  bottom: 80px;
  width: 16rem;
  height: 20rem;
}

.mat-column-title {
  flex: 0 0 33%;
}

.mat-column-language {
  flex: 0 0 25%;
}

.mat-column-level {
  flex: 0 0 12%;
}

.mat-column-activity {
  flex: 0 0 30%;
}

.table-cell,
.table-header-cell {
  padding: 0 0 0 0;
}

.column-gap {
  padding-left: 1rem;
}

.center-text {
  justify-content: center;
}

/* "it's new!" tag */
.title-cell {
  display: flex;
  justify-content: space-between;
}

.new-span {
  transform: rotate(0.75turn);
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #D85BFD;
}

.accentcolor-dark {
  color: #7D1AD4;
}

.accentcolor-mid {
  color: #D85BFD;
}

.accentcolor-light {
  color: #DCC9FF;
}

mat-paginator {
  flex-wrap: nowrap;
  margin-top: -1rem;
}
