.form-field-wrapper {
  display: grid;
}

mat-form-field {
  min-width: 320px;
  max-width: 50%;
  color: #7D1AD4;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.1rem;
  margin: auto;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
  position: relative;
  top: 5px;
  left: 5px;
}

mat-table {
  box-shadow: none;
  min-width: 320px;
  max-width: 70%;
  margin: auto;
}

mat-header-cell {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: .9rem;
  color: #7D1AD4;
}

mat-cell {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.mat-column-title {
  flex: 0 0 30%;
}

.mat-column-language {
  flex: 0 0 30%;
}

.mat-column-skill {
  flex: 0 0 10%;
}

.mat-column-level {
  flex: 0 0 10%;
}

.mat-column-activity {
  flex: 0 0 20%;
}

.mat-cell,
.mat-header-cell {
  padding: 0 0 0 0;
}

a {
  color: #7D1AD4;
  font-weight: 400;

  background:
    linear-gradient(to right,
      rgba(232, 97, 195, 0.8),
      rgba(125, 26, 212, 1)),
    linear-gradient(to right,
      rgba(125, 26, 212, 1),
      rgba(232, 97, 195, 0.8));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}

a:active {
  text-decoration: none;
}

.title-cell {
  display: flex;
  justify-content: space-between;
}

.lottie-cell {
  height: 1.2rem;
  margin: 0 .5rem 0 0;
  transform: rotate(0.75turn);
}
