<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Roadmap</h1>
    <mat-icon class="icon">explore</mat-icon>
  </div>

  <p>Here is a brief, non-technical version of where we would like to take this website in the near future:</p>

  <ul>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon><span>create a few activities</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon><span>test and refine them in everyday teaching</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon><span>create and publish content for the
        activities</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon><span>rince and repeat</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon><span>set up the activities for players on
        separate phones</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon><span>find a business model that would make
        the
        platform self-sustaining</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon><span>enable teacher users to create an
        account
        and start growing and sharing their own content with other members</span>
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon><span> enable student users (and their
        teachers if
        they have one) to keep track of their results</span>
    </li>
  </ul>
</div>
