<div class="dialog-wrapper">
  <div class="dialog-boardgame-title-wrapper"
    [ngClass]="{'red': activePlayer.name === 'A', 'violet': activePlayer.name === 'B' }">
    <h1 class="header-h1">{{ activePlayer.name }}</h1>
    <lottie-player *ngIf="activePlayer.name === 'A'" src="/assets/img/activePlayerA.json" background="transparent"
      speed="1" loop autoplay>
    </lottie-player>
    <lottie-player *ngIf="activePlayer.name === 'B'" src="/assets/img/activePlayerB.json" background="transparent"
      speed="1" loop autoplay>
    </lottie-player>
  </div>
  <mat-dialog-content class="dialog-content">
    {{ data.question }}
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button color="primary" mat-dialog-close mat-dialog-close="true" class="card-action-btn">Accept</button>
    <button mat-button color="primary" mat-dialog-close mat-dialog-close="false" class="card-action-btn">Reject</button>
  </mat-dialog-actions>
</div>
