.roadmap-list-item {
  display: grid;
  grid-template-columns: 1fr 20fr;
}

.checkbox-icon {
  margin-right: .5rem;
}

p,
dl,
ul,
li {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
