<div class="page-wrapper">
  <div class="header">
    <h1 class="header-h1">Roadmap</h1>
    <mat-icon class="icon">explore</mat-icon>
  </div>

  <p>Here is a brief, non-technical version of where we would like to take this website in the near future:</p>

  <ul>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon>
      create a few activities
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon>
      test and refine them in everyday teaching
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box</mat-icon>
      create and publish content for the activities
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon>
      rince and repeat
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon>
      set up the activities for players on separate phones
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon>
      find a business model that would make the platform self-sustaining
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon>
      enable teacher users to create an account and start growing and sharing their own content with other members
    </li>
    <li class="roadmap-list-item">
      <mat-icon class="icon checkbox-icon">check_box_outline_blank</mat-icon>
      enable student users (and their teachers if they have one) to keep track of their results
    </li>
  </ul>
</div>
