<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <!--   <mat-icon class="icon-inline">info_outline</mat-icon> -->
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="counters-wrapper">
      <div class="counter activeCounter">
        <p>A</p>
        <p>{{ counterA }}</p>
        <p class="timer">{{ timerA | date:'mm:ss:SSS' }}</p>
      </div>
      <div class="counter">
        <p>B</p>
        <p>{{ counterB }}</p>
        <p class="timer">{{ timerB | date:'mm:ss:SSS' }}</p>
      </div>
    </div>
    <div class="options-wrapper">
      <button class="option" id="btn-A" (click)="onClick($event)">{{ currentCard[0] }}</button>
      <button class="option" id="btn-B" (click)="onClick($event)">{{ currentCard[1] }}</button>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <span>{{ currentCardNumber }}/{{ cardsTotal }}</span>
    <button color="primary" mat-button (click)="next()">{{ btnValue }}</button>
  </mat-card-actions>
</mat-card>
