<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <!--   <mat-icon class="icon-inline">info_outline</mat-icon> -->
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="counters-wrapper">
      <div class="counter" [ngClass]="{ activecounter: currentPlayer === playerA }">
        <p>A</p>
        <p>{{ playerA.counter }}</p>
        <p class="timer">{{ playerA.timer | date:'SSS' }}</p>
      </div>
      <div class="counter" [ngClass]="{ activecounter: currentPlayer === playerB }">
        <p>B</p>
        <p>{{ playerB.counter }}</p>
        <p class="timer">{{ playerB.timer | date:'SSS' }}</p>
      </div>
    </div>
    <div class="options-wrapper">
      <button class="option" id="btn-A" (click)="onClick($event)">{{ currentCard[0] }}</button>
      <button class="option" id="btn-B" (click)="onClick($event)">{{ currentCard[1] }}</button>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <span>{{ currentCardNumber }}/{{ cardsTotal }}</span>
    <button color="primary" mat-button (click)="start()" [disabled]="clickedOnce">Start</button>
  </mat-card-actions>
</mat-card>
