.iframe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

iframe {
  width: 480px;
  height: 320px;
  border-bottom: 1px solid #EEE;
  background: #FFF;
}
