/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Condensed&family=Inconsolata:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* main {
  min-height: 100vh;
  border: 2px solid blueviolet;
} */

body {
  margin: 0;
}

.statcounter {
  display: none;
}

/* global link styling */
/* ... */

/* footer link styling */
/* ... */

/* static pages: about, abbreviations, teacher's guide, changelog, roadmap – also dictionaries, corpus, misc  */
.page-wrapper {
  min-width: 320px;
  max-width: 50%;
  min-height: 85vh;
  margin: auto;
  margin-top: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid #454746;
}

.icon {
  color: #7D1AD4;
}

.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
  position: relative;
  top: 5px;
  left: 5px;
}



/* link pages opening from footer: dictionaries, corpus, misc */
/* should be mat-card without the class-dot, should it? but this is how it works */
.mat-card.card-for-link {
  margin-top: 2rem;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: none;
  border-radius: 0;
}
