:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

mat-card {
  font-family: 'Ubuntu Condensed', sans-serif;
  flex-grow: 1;
  max-width: 27rem;
  height: 85vh;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

mat-card-content {
  height: 85%;
}

dl {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  font-size: 1rem;
}

dd {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

dt:not(:first-of-type),
dd:not(:first-of-type) {
  margin-top: 3.5rem;
}

dt:nth-of-type(1),
dd:nth-of-type(1) {
  margin-top: 2rem;
}

mat-card-actions {
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: space-around;
  color: #7D1AD4;
}

/* for modal info-icon */
.icon-inline {
  color: #7D1AD4;
  font-size: 1.4rem;
}
